@font-face {
  font-family: "Playfair Display";
  src: url("./playfairdisplay-regular.ttf") format("truetype"); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./playfairdisplay-bold.ttf") format("truetype"); 
  font-weight: 700;
  font-style: normal;
}