@import url("./fonts/alegreya/style.css");
@import url("./fonts/playfair-display/style.css");
@import url("./fonts/scriptina/style.css");

@mixin section-bg($imgUrl) {
    background-image: url($imgUrl);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin section-bg-rep($imgUrl) {
    background-image: url($imgUrl);
    background-repeat: repeat;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

img.resp {
    width: 100%;
    height: auto;
}


.text {
    font-family: 'Alegreya', serif;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

section > main {
    width: 75vw;
    // border: 1px solid red;
}

//============================
// RECIPES SECTION
//============================

.section-recipes {
    height: 100vh;
    @include section-bg('../img/bg-bread-board.jpg');
}

.section-recipes > main {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
}
